@charset "UTF-8";
/*COLOR*/
/*MEDIA BREAKPOINTS*/
/* FONTS FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "K2D";
  src: url("../fonts/K2D/K2D-Medium.ttf");
}
/*GENERAL*/
* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "K2D";
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

main {
  width: 1200px;
  margin: auto;
}
@media screen and (max-width: 478px) {
  main {
    width: 478px;
  }
}

h2 {
  text-align: center;
  font-size: 3rem;
  margin-top: 1em;
  margin-bottom: 1em;
}

/*HEADER*/
.header {
  background-color: #0D0B2B;
  width: 100%;
}
.header .header-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 478px) {
  .header .header-top {
    flex-direction: column;
    justify-content: center;
  }
}
.header .header-top .logo-libris {
  height: 6em;
  width: 5em;
  margin-left: 2em;
}
@media screen and (max-width: 478px) {
  .header .header-top .logo-libris {
    margin-left: 0;
  }
}
.header .header-top h1 {
  color: #F6E06E;
  font-size: 3rem;
  font-family: "Expletus Sans";
  margin: auto;
}
@media screen and (max-width: 478px) {
  .header .header-top h1 {
    margin-bottom: 0.8em;
  }
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  background-color: #321278;
  padding: 1em;
}
@media screen and (max-width: 478px) {
  .header-bottom {
    flex-direction: column;
    text-align: center;
  }
}
.header-bottom a {
  margin-left: 2em;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
@media screen and (max-width: 478px) {
  .header-bottom a {
    margin: 0.5em;
  }
}
.header-bottom .nav-menu ul {
  display: flex;
  flex-direction: row;
  align-content: center;
}
@media screen and (max-width: 478px) {
  .header-bottom .nav-menu ul {
    flex-direction: column;
  }
}
.header-bottom .nav-menu ul li {
  color: white;
  list-style: none;
  margin: 0.2em;
}
@media screen and (max-width: 478px) {
  .header-bottom .nav-menu ul li {
    margin: 0.5em;
  }
}
.header-bottom .nav-menu ul li a {
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.header-bottom .nav-menu ul li a:visited {
  color: white;
}
.header-bottom .switch-dark-mode {
  height: 3em;
  width: 5em;
}

/* menu burger */
/**,*::before,*:after{box-sizing: border-box}

!*input[type="checkbox"]*!.menu_hamburger {

  position: absolute;
                            left: -100vw;;

                          }


.div-menu-burger label {
  font-size: 0rem;
}

.menu_hamburger+label{

  cursor: pointer;
  position: relative;
  margin: 5rem auto;
  top: 1em;
  display: flex;
  justify-content: center;
  width: 80px;
}


.menu_hamburger+label span{

  position: absolute;
  top: 50%;
  margin-top: -5px;
  width: 80px;
  height: 10px;
  background-color: $yellow;
  border-radius: 20px;

}

.menu_hamburger+label span::before {


  position: absolute;
  content: '';
  width: inherit;
  height: inherit;
  background-color: inherit;
  top: -20px;
  border-radius: inherit;
}

.menu_hamburger+label span::after {


  position: absolute;
  content: '';
  width: inherit;
  height: inherit;
  background-color: inherit;
  bottom: -20px;
  border-radius: inherit;
}

.menu_hamburger:checked+label span{

  transform: rotate(45deg);

}

.menu_hamburger:checked+label span::before{

  top:unset

}

.menu_hamburger:checked+label span::after{

  bottom: unset;
  transform: rotate(-90deg);

}

nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: $yellow;
  width: 10em;
  display: none;
}*/
/* FOOTER */
footer {
  background-color: #0D0B2B;
  color: #F6E06E;
  margin-top: auto;
  width: 100%;
}
footer .footer-content {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: auto;
  padding: 2em;
}
footer .footer-content p, footer .footer-content .social-medias {
  margin: auto;
  padding: 0.5em;
}
footer .footer-content .social-medias span {
  padding: 0.3em;
}
footer .footer-content .social-medias span i {
  font-size: 2rem;
}

/*HOME*/
/* research tool */
#container-home {
  margin: auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#container-home .container-research-tool {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#container-home .container-research-tool h2 {
  font-size: 4rem;
}
@media screen and (max-width: 478px) {
  #container-home .container-research-tool h2 {
    font-size: 2em;
  }
}
#container-home .container-research-tool form {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1.5em;
  background: #8093ff;
  background: linear-gradient(317deg, rgb(128, 147, 255) 0%, rgb(224, 224, 255) 22%, rgb(255, 255, 255) 100%);
  border: 2px solid #A5A5c0;
  border-radius: 3%;
  box-shadow: 1px 1px 1px #321278;
}
@media screen and (max-width: 478px) {
  #container-home .container-research-tool form {
    width: 23em;
  }
}
#container-home .container-research-tool form input {
  width: 30em;
  height: 2em;
  text-align: center;
  box-shadow: 2px 1px 1px #A5A5c0;
  border-radius: 5px;
  margin-bottom: 1em;
}
@media screen and (max-width: 478px) {
  #container-home .container-research-tool form input {
    width: 98%;
  }
}
#container-home .container-research-tool form button {
  padding: 0.3em;
  display: block;
  border-radius: 4%;
  background-color: #0D0B2B;
  border-color: #0D0B2B;
  color: #F6E06E;
  right: 1.5em;
  bottom: 1em;
}
#container-home .container-research-tool form button:hover {
  cursor: pointer;
  color: #0D0B2B;
  background-color: #F6E06E;
  border-color: #F6E06E;
}
#container-home {
  /*Containers de résultat */
}
#container-home .result-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2em;
}
@media screen and (max-width: 478px) {
  #container-home .result-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
#container-home .result-container .book-card {
  border: 1px solid #0D0B2B;
  box-shadow: 8px 5px 5px #0D0B2B;
  border-radius: 5px;
  width: 13em;
  margin: 3em;
}
#container-home .result-container .book-card h3, #container-home .result-container .book-card p {
  padding: 0.3em;
}
#container-home .result-container .book-card img {
  width: 100%;
  height: 18em;
}
#container-home .result-container .book-card button {
  padding: 0.3em;
  display: block;
  margin: auto;
  margin-bottom: 0.5em;
  border-radius: 4%;
  background-color: #0D0B2B;
  border-color: #0D0B2B;
  color: #F6E06E;
}
#container-home .result-container .book-card button:hover {
  cursor: pointer;
  color: #0D0B2B;
  background-color: #F6E06E;
  border-color: #F6E06E;
}

/*detail d'un livre */
.container-book-detail {
  margin: auto;
  margin-top: 4em;
  display: flex;
  background-color: #0D0B2B;
  width: 70%;
  border-radius: 2em;
  box-shadow: 2px 2px 2px #F6E06E;
  position: relative;
}
@media screen and (max-width: 478px) {
  .container-book-detail {
    flex-direction: column;
  }
}
.container-book-detail .div-book-detail {
  width: 100%;
}
@media screen and (max-width: 478px) {
  .container-book-detail .div-book-detail {
    display: flex;
    flex-direction: column;
    padding: 2em;
  }
}
.container-book-detail .div-book-detail h3 {
  color: #F6E06E;
  font-family: "Expletus Sans";
  margin-top: 1em;
  margin-left: 0.8em;
  font-size: 1.7rem;
}
@media screen and (max-width: 478px) {
  .container-book-detail .div-book-detail h3 {
    margin: 0;
  }
}
.container-book-detail .div-book-detail p {
  color: white;
  margin-top: 1em;
  margin-left: 1em;
  font-size: 1.4rem;
}
@media screen and (max-width: 478px) {
  .container-book-detail .div-book-detail p {
    padding-top: 1em;
    margin: 0;
  }
}
.container-book-detail .div-book-detail .detail-book-year {
  font-size: 1.2rem;
  margin-top: 0.6em;
}
@media screen and (max-width: 478px) {
  .container-book-detail .div-book-detail .detail-book-year {
    margin: 0;
  }
}
.container-book-detail .div-book-detail .div-button-add-to-list {
  position: absolute;
  right: 2em;
  bottom: 2em;
}
@media screen and (max-width: 478px) {
  .container-book-detail .div-book-detail .div-button-add-to-list {
    right: 1em;
    bottom: 1.2em;
  }
}
.container-book-detail .div-book-detail .div-button-add-to-list #button-add-to-list {
  overflow: hidden;
  height: 2.6em;
  width: 2.6em;
  border-radius: 50%;
  background-color: #0D0B2B;
  border-color: #0D0B2B;
}
.container-book-detail .div-book-detail .div-button-add-to-list #button-add-to-list img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.container-book-detail .div-book-detail .div-button-add-to-list #button-add-to-list img:hover {
  display: none;
}
.container-book-detail .div-book-detail .div-button-add-to-list #button-add-to-list:hover {
  height: 3em;
  width: 6em;
  border-radius: 10%;
  background-color: #F6E06E;
  color: #0D0B2B;
  padding: 0.4em;
  cursor: pointer;
}
.container-book-detail .div-detail-book-cover {
  width: 23em;
}
@media screen and (max-width: 478px) {
  .container-book-detail .div-detail-book-cover {
    margin-top: 0;
  }
}
.container-book-detail .div-detail-book-cover .cover-detail-book {
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}
@media screen and (max-width: 478px) {
  .container-book-detail .div-detail-book-cover .cover-detail-book {
    border-bottom-left-radius: 0;
    border-top-right-radius: 2em;
  }
}

/* Détail livre : section commentaire*/
.container-comments {
  width: 75%;
  margin: auto;
}

.no-comment {
  text-align: center;
}
.no-comment p {
  font-size: 2.3rem;
}

.card-comment, .no-comment, .card-comment-profile {
  border: 1px solid #A5A5c0;
  margin: 1em;
  padding: 2em;
  border-radius: 3%;
  background: #8093ff;
  background: linear-gradient(317deg, rgb(128, 147, 255) 0%, rgb(224, 224, 255) 22%, rgb(255, 255, 255) 100%);
  box-shadow: 1px 1px 1px #321278;
}
.card-comment h3, .no-comment h3, .card-comment-profile h3 {
  font-size: 1.5rem;
  margin-bottom: 1em;
}
.card-comment p, .no-comment p, .card-comment-profile p {
  text-justify: inter-word;
  margin-bottom: 1em;
}

.div-add-comment {
  margin: 1em;
}
.div-add-comment form {
  margin-top: 1em;
  background: #8093ff;
  background: linear-gradient(317deg, rgb(128, 147, 255) 0%, rgb(224, 224, 255) 22%, rgb(255, 255, 255) 100%);
  border: 2px solid #A5A5c0;
  border-radius: 3%;
  box-shadow: 1px 1px 1px #321278;
}
.div-add-comment form label {
  margin-left: 1em;
  font-size: 1.2rem;
}
@media screen and (max-width: 478px) {
  .div-add-comment form label {
    margin-left: 0.5em;
  }
}
.div-add-comment form input {
  border: 1px solid #A5A5c0;
  border-radius: 2%;
  margin: 1em;
  padding: 0.5em;
}
@media screen and (max-width: 478px) {
  .div-add-comment form input {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 92%;
  }
}
.div-add-comment form textarea {
  border: 1px solid #A5A5c0;
  margin: 1em;
  padding: 0.5em;
  height: 6em;
  border-radius: 2%;
}
@media screen and (max-width: 478px) {
  .div-add-comment form textarea {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 92%;
  }
}
.div-add-comment form fieldset {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: none;
  position: relative;
  margin-bottom: 3em;
}
.div-add-comment form button {
  width: 20%;
  position: absolute;
  right: 1.8em;
  bottom: -1.3em;
  padding: 0.5em;
  border-radius: 4%;
  background-color: #0D0B2B;
  border-color: #0D0B2B;
  color: #F6E06E;
}
@media screen and (max-width: 478px) {
  .div-add-comment form button {
    right: 1em;
    width: 88%;
  }
}
.div-add-comment form button:hover {
  cursor: pointer;
  color: #0D0B2B;
  background-color: #F6E06E;
  border-color: #F6E06E;
}

/* PROFIL */
/* Profile: section information de l'utilisateur */
.user-info {
  background-color: #0D0B2B;
  color: white;
  width: 70%;
  margin: auto;
  margin-top: 2em;
  padding-bottom: 2em;
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 0.1em;
  border-radius: 2em;
  box-shadow: 2px 2px 2px #F6E06E;
  position: relative;
}
.user-info h2 {
  color: #F6E06E;
}
.user-info .last-login {
  font-size: 1rem;
  margin: 1.5em;
}
.user-info .intro {
  font-size: 1.1rem;
  margin: 1.5em;
  word-spacing: 0.1rem;
  text-justify: inter-word;
}
.user-info .button-update-profile {
  position: absolute;
  right: 1.5em;
  bottom: 1em;
  background-color: #F6E06E;
  border-color: #F6E06E;
  color: #0D0B2B;
  padding: 0.5em;
  border-radius: 4%;
}
.user-info .button-update-profile a:visited {
  color: #0D0B2B;
}
.user-info .button-update-profile:hover {
  background-color: #0D0B2B;
  border-color: #0D0B2B;
  color: #F6E06E;
}
.user-info .button-update-profile:hover a:visited {
  color: #F6E06E;
}

/* Profil : section liste de livre */
.section-book-list .book-list-card {
  border: 1px solid #0D0B2B;
  box-shadow: 8px 5px 5px #0D0B2B;
  border-radius: 5px;
  width: 13em;
  margin: 3em;
}
.section-book-list .book-list-card img {
  width: 100%;
  height: 18em;
}
.section-book-list .book-list-card .button-remove-book {
  padding: 0.3em;
  display: block;
  margin: auto;
  margin-bottom: 0.5em;
  border-radius: 4%;
  background-color: #0D0B2B;
  border-color: #0D0B2B;
  color: #F6E06E;
}
.section-book-list .book-list-card .button-remove-book:hover, .section-book-list .book-list-card .button-delete-comment:hover {
  cursor: pointer;
  color: #0D0B2B;
  background-color: #F6E06E;
  border-color: #F6E06E;
}

/* profil : section commentaires*/
.card-comment-profile {
  position: relative;
}
.card-comment-profile .button-delete-comment {
  padding: 0.3em;
  display: block;
  border-radius: 4%;
  background-color: #0D0B2B;
  border-color: #0D0B2B;
  color: #F6E06E;
  position: absolute;
  right: 1.5em;
  bottom: 1em;
}
.card-comment-profile .button-delete-comment:hover {
  cursor: pointer;
  color: #0D0B2B;
  background-color: #F6E06E;
  border-color: #F6E06E;
}
.card-comment-profile .comment-content-profile {
  padding-bottom: 1em;
}

/* PAGES AUTHENTIFICATION */
.account-settings h3 {
  text-align: center;
  font-size: 1.2rem;
  margin: 1em;
}

.form-account-settings, .form-login, .form-register {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-bottom: 2em;
  padding: 1.5em;
  background: #8093ff;
  background: linear-gradient(317deg, rgb(128, 147, 255) 0%, rgb(224, 224, 255) 22%, rgb(255, 255, 255) 100%);
  border: 2px solid #A5A5c0;
  border-radius: 3%;
  box-shadow: 1px 1px 1px #321278;
}
.form-account-settings label, .form-login label, .form-register label {
  margin-left: 0.7em;
}
.form-account-settings input, .form-account-settings textarea, .form-account-settings button, .form-login input, .form-login textarea, .form-login button, .form-register input, .form-register textarea, .form-register button {
  width: 95%;
  height: 2em;
  margin: 0.7em;
}
.form-account-settings textarea, .form-login textarea, .form-register textarea {
  height: 4em;
}
.form-account-settings button, .form-login button, .form-register button {
  padding: 0.3em;
  display: block;
  border-radius: 4%;
  background-color: #0D0B2B;
  border-color: #0D0B2B;
  color: #F6E06E;
  right: 1.5em;
  bottom: 1em;
}
.form-account-settings button:hover, .form-login button:hover, .form-register button:hover {
  cursor: pointer;
  color: #0D0B2B;
  background-color: #F6E06E;
  border-color: #F6E06E;
}

/*# sourceMappingURL=style.css.map */
