/*COLOR*/

$background-color: #0D0B2B;
$yellow: #F6E06E;
$royal-blue: #321278;
$lavender: #A5A5c0;

/*MEDIA BREAKPOINTS*/

@mixin mobile {
  @media screen and (max-width: 478px) {
    @content;
  }
}

/* FONTS FAMILY */

@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family : 'K2D';
  src: url('../fonts/K2D/K2D-Medium.ttf');
}
/*GENERAL*/

* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "K2D";
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



a {
  text-decoration: none;
}

main {
  width: 1200px;
  margin: auto;
  @include mobile {
    width: 478px;
  }
}

h2 {
  text-align: center;
  font-size: 3rem;
  margin-top: 1em;
  margin-bottom: 1em;

}
/*HEADER*/

.header {
    background-color: $background-color;
    width: 100%;


  .header-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include mobile {
      flex-direction: column;
      justify-content: center;
  }

    .logo-libris {
      height: 6em;
      width: 5em;
      margin-left: 2em;
      @include mobile {
        margin-left: 0;
      }
    }
    h1 {
      color: $yellow;
      font-size: 3rem;
      font-family: "Expletus Sans";
      margin: auto;
      //transform: translateX(-50%);
      //transform: translateY(-50%);
      @include mobile {
        margin-bottom: 0.8em;
      }
    }
      }
  }

  .header-bottom {
    display: flex;
    justify-content: space-between;
    background-color: $royal-blue;
    padding: 1em;
    @include mobile {
      flex-direction: column;
      text-align: center;
    }

   a {
      margin-left: 2em;
      color: white;
     font-size: 1.2rem;
     letter-spacing: 1px;
     @include mobile {
       margin: 0.5em;
     }

    }
    .nav-menu ul {
      display: flex;
      flex-direction: row;
      align-content: center;
      @include mobile {
        flex-direction: column;
      }

      li {
        color: white;
        list-style: none;
        margin: 0.2em;
        @include mobile {
          margin: 0.5em;
        }

        a {
          font-size: 1.2rem;
          letter-spacing: 1px;
        }
      }

      li a:visited {
        color: white;
      }
  }


  .switch-dark-mode {
    height: 3em;
    width: 5em;
  }
}

/* menu burger */




/**,*::before,*:after{box-sizing: border-box}

!*input[type="checkbox"]*!.menu_hamburger {

  position: absolute;
                            left: -100vw;;

                          }


.div-menu-burger label {
  font-size: 0rem;
}

.menu_hamburger+label{

  cursor: pointer;
  position: relative;
  margin: 5rem auto;
  top: 1em;
  display: flex;
  justify-content: center;
  width: 80px;
}


.menu_hamburger+label span{

  position: absolute;
  top: 50%;
  margin-top: -5px;
  width: 80px;
  height: 10px;
  background-color: $yellow;
  border-radius: 20px;

}

.menu_hamburger+label span::before {


  position: absolute;
  content: '';
  width: inherit;
  height: inherit;
  background-color: inherit;
  top: -20px;
  border-radius: inherit;
}

.menu_hamburger+label span::after {


  position: absolute;
  content: '';
  width: inherit;
  height: inherit;
  background-color: inherit;
  bottom: -20px;
  border-radius: inherit;
}

.menu_hamburger:checked+label span{

  transform: rotate(45deg);

}

.menu_hamburger:checked+label span::before{

  top:unset

}

.menu_hamburger:checked+label span::after{

  bottom: unset;
  transform: rotate(-90deg);

}

nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: $yellow;
  width: 10em;
  display: none;
}*/



/* FOOTER */

    footer {
      background-color: $background-color;
      color: $yellow;
      margin-top: auto;
      width: 100%;

      .footer-content {
        display: flex;
        width: 50%;
        flex-direction: column;
        margin: auto;
        padding: 2em;

        p, .social-medias {
          margin: auto;
          padding: 0.5em;
        }

        .social-medias span {
          padding: 0.3em;

          i {
            font-size: 2rem;
          }
        }
      }
    }

    /*HOME*/

    /* research tool */

    #container-home {
      margin: auto;
      padding: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .container-research-tool {
        display: flex;
        align-items: center;
        flex-direction: column;


        h2 {
          font-size: 4rem;
          @include mobile {
            font-size: 2em;
          }
        }

        form {
          display: flex;
          flex-direction: column;
          margin: auto;
          padding: 1.5em;
          background: #8093ff;
          background: linear-gradient(317deg, rgba(128, 147, 255, 1) 0%, rgba(224, 224, 255, 1) 22%, rgba(255, 255, 255, 1) 100%);
          border: 2px solid $lavender;
          border-radius: 3%;
          box-shadow: 1px 1px 1px $royal-blue;
          @include mobile {
            width: 23em;
          }

          input {
            width: 30em;
            height: 2em;
            text-align: center;
            box-shadow: 2px 1px 1px $lavender;
            border-radius: 5px;
            margin-bottom: 1em;
            @include mobile {
              width: 98%;
            }
          }

          button {
            padding: 0.3em;
            display: block;
            border-radius: 4%;
            background-color: $background-color;
            border-color: $background-color;
            color: $yellow;
            right: 1.5em;
            bottom: 1em;

          }

          button:hover {
            cursor: pointer;
            color: $background-color;
            background-color: $yellow;
            border-color: $yellow;
          }
        }

      }

      /*Containers de résultat */

      .result-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 2em;
        @include mobile {
          grid-template-columns: repeat(1, 1fr);
        }

        .book-card {
          border: 1px solid $background-color;
          box-shadow: 8px 5px 5px $background-color;
          border-radius: 5px;
          width: 13em;
          margin: 3em;

          h3, p {
            padding: 0.3em;
          }

          img {
            width: 100%;
            height: 18em;

          }

          button {
            padding: 0.3em;
            display: block;
            margin: auto;
            margin-bottom: 0.5em;
            border-radius: 4%;
            background-color: $background-color;
            border-color: $background-color;
            color: $yellow;
          }

          button:hover {
            cursor: pointer;
            color: $background-color;
            background-color: $yellow;
            border-color: $yellow;
          }
        }
      }
    }


    /*detail d'un livre */



    .container-book-detail {
      margin: auto;
      margin-top: 4em;
      display: flex;
      background-color: $background-color;
      width: 70%;
      border-radius: 2em;
      box-shadow: 2px 2px 2px $yellow;
      position: relative;
      @include mobile {
        flex-direction: column;
      }

      .div-book-detail {
        width: 100%;
        @include mobile {
          display: flex;
          flex-direction: column;
          padding: 2em;
        }

        h3 {
          color: $yellow;
          font-family: "Expletus Sans";
          margin-top: 1em;
          margin-left: 0.8em;
          font-size: 1.7rem;
          @include mobile {
              margin: 0;
          }
        }

        p {
          color: white;
          margin-top: 1em;
          margin-left: 1em;
          font-size: 1.4rem;
          @include mobile {
            padding-top: 1em;
            margin: 0;
          }

        }

        .detail-book-year {
          font-size: 1.2rem;
          margin-top: 0.6em;
          @include mobile {
            margin: 0;
          }
        }

        .div-button-add-to-list {
          position: absolute;
          right: 2em;
          bottom: 2em;
          @include mobile {
            right: 1em;
            bottom: 1.2em;
          }

          #button-add-to-list {
            overflow: hidden;
            height: 2.6em;
            width: 2.6em;
            border-radius: 50%;
            background-color: $background-color;
            border-color: $background-color;


            img {
              object-fit: cover;
              height: 100%;
              width: 100%;
            }

            img:hover {
              display: none;
            }
          }

          #button-add-to-list:hover {
            height: 3em;
            width: 6em;
            border-radius: 10%;
            background-color: $yellow;
            color: $background-color;
            padding: 0.4em;
            cursor: pointer;
          }

        }
      }

      .div-detail-book-cover {
        width: 23em;
        @include mobile {
          margin-top: 0;
        }

        .cover-detail-book {
          border-top-left-radius: 2em;
          border-bottom-left-radius: 2em;
          @include mobile {
            border-bottom-left-radius:  0;
            border-top-right-radius: 2em;

          }
        }
      }
    }

    /* Détail livre : section commentaire*/

    .container-comments {
      width: 75%;
      margin: auto;
    }

    .no-comment {
      text-align: center;

      p {
        font-size: 2.3rem;
      }
    }

    .card-comment, .no-comment, .card-comment-profile {
      border: 1px solid $lavender;
      margin: 1em;
      padding: 2em;
      border-radius: 3%;
      background: #8093ff;
      background: linear-gradient(317deg, rgba(128, 147, 255, 1) 0%, rgba(224, 224, 255, 1) 22%, rgba(255, 255, 255, 1) 100%);
      box-shadow: 1px 1px 1px $royal-blue;

      h3 {
        font-size: 1.5rem;
        margin-bottom: 1em;
      }

      p {
        text-justify: inter-word;
        margin-bottom: 1em;
      }
    }

    .div-add-comment {
      margin: 1em;

      form {
        margin-top: 1em;
        background: #8093ff;
        background: linear-gradient(317deg, rgba(128, 147, 255, 1) 0%, rgba(224, 224, 255, 1) 22%, rgba(255, 255, 255, 1) 100%);
        border: 2px solid $lavender;
        border-radius: 3%;
        box-shadow: 1px 1px 1px $royal-blue;

        label {
          margin-left: 1em;
          font-size: 1.2rem;
          @include mobile {
            margin-left: 0.5em;
          }
        }

        input {
          border: 1px solid $lavender;
          border-radius: 2%;
          margin: 1em;
          padding: 0.5em;
          @include mobile {
            margin: auto;
            margin-top: 1em;
            margin-bottom: 1em;
            width: 92%;
          }
        }

        textarea {
          border: 1px solid $lavender;
          margin: 1em;
          padding: 0.5em;
          height: 6em;
          border-radius: 2%;
          @include mobile {
            margin: auto;
            margin-top: 1em;
            margin-bottom: 1em;
            width: 92%;
          }
        }

        fieldset {
          display: flex;
          flex-direction: column;
          padding: 1em;
          border: none;
          position: relative;
          margin-bottom: 3em;
        }

        button {
          width: 20%;
          position: absolute;
          right: 1.8em;
          bottom: -1.3em;
          padding: 0.5em;
          border-radius: 4%;
          background-color: $background-color;
          border-color: $background-color;
          color: $yellow;
          @include mobile {
            right: 1em;
            width: 88%;
          }
        }

        button:hover {
          cursor: pointer;
          color: $background-color;
          background-color: $yellow;
          border-color: $yellow;
        }
      }
    }

    /* PROFIL */

    /* Profile: section information de l'utilisateur */
    .user-info {
      background-color: $background-color;
      color: white;
      width: 70%;
      margin: auto;
      margin-top: 2em;
      padding-bottom: 2em;
      padding-right: 2em;
      padding-left: 2em;
      padding-top: 0.1em;
      border-radius: 2em;
      box-shadow: 2px 2px 2px $yellow;
      position: relative;

      h2 {
        color: $yellow;
      }

      .last-login {
        font-size: 1rem;
        margin: 1.5em;
      }

      .intro {
        font-size: 1.1rem;
        margin: 1.5em;
        word-spacing: 0.1rem;
        text-justify: inter-word;

      }

      .button-update-profile {
        position: absolute;
        right: 1.5em;
        bottom: 1em;
        background-color: $yellow;
        border-color: $yellow;
        color: $background-color;
        padding: 0.5em;
        border-radius: 4%;

        a:visited {
          color: $background-color;
        }
      }

      .button-update-profile:hover {
        background-color: $background-color;
        border-color: $background-color;
        color: $yellow;
      }

      .button-update-profile:hover a:visited {
        color: $yellow;
      }

    }

    /* Profil : section liste de livre */

    .section-book-list {

      .book-list-card {
        border: 1px solid $background-color;
        box-shadow: 8px 5px 5px $background-color;
        border-radius: 5px;
        width: 13em;
        margin: 3em;

        img {
          width: 100%;
          height: 18em;

        }

        .button-remove-book {
          padding: 0.3em;
          display: block;
          margin: auto;
          margin-bottom: 0.5em;
          border-radius: 4%;
          background-color: $background-color;
          border-color: $background-color;
          color: $yellow;
        }

        .button-remove-book:hover, .button-delete-comment:hover {
          cursor: pointer;
          color: $background-color;
          background-color: $yellow;
          border-color: $yellow;
        }

      }

    }

    /* profil : section commentaires*/

    .card-comment-profile {
      position: relative;

      .button-delete-comment {
        padding: 0.3em;
        display: block;
        border-radius: 4%;
        background-color: $background-color;
        border-color: $background-color;
        color: $yellow;
        position: absolute;
        right: 1.5em;
        bottom: 1em;

      }

      .button-delete-comment:hover {
        cursor: pointer;
        color: $background-color;
        background-color: $yellow;
        border-color: $yellow;
      }

      .comment-content-profile {
        padding-bottom: 1em;
      }

    }

    /* PAGES AUTHENTIFICATION */

    .account-settings {

      h3 {
        text-align: center;
        font-size: 1.2rem;
        margin: 1em;
      }
    }

    .form-account-settings, .form-login, .form-register {
      display: flex;
      flex-direction: column;
      width: 50%;;
      margin: auto;
      margin-bottom: 2em;
      padding: 1.5em;
      background: #8093ff;
      background: linear-gradient(317deg, rgba(128, 147, 255, 1) 0%, rgba(224, 224, 255, 1) 22%, rgba(255, 255, 255, 1) 100%);
      border: 2px solid $lavender;
      border-radius: 3%;
      box-shadow: 1px 1px 1px $royal-blue;

      label {
        margin-left: 0.7em;
      }

      input, textarea, button {
        width: 95%;
        height: 2em;
        margin: 0.7em;
      }

      textarea {
        height: 4em;
      }

      button {
        padding: 0.3em;
        display: block;
        border-radius: 4%;
        background-color: $background-color;
        border-color: $background-color;
        color: $yellow;
        right: 1.5em;
        bottom: 1em;

      }

      button:hover {
        cursor: pointer;
        color: $background-color;
        background-color: $yellow;
        border-color: $yellow;
      }
    }









